{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blog Of RRR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
<div class="navbar navbar-light bg-light navbar-expand-md">
	<a class="navbar-brand" href="">RRR</a>
	<button class="nabar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
		<span class="navbar-toggler-icon"></span>

	</button>
	<div class="navbar-collapse collapse" id="menu">
		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<a href="{% url 'Goal' %}" class="nav-link">Achieved Their Goals</a>
			</li>

			<li class="nav-item">
			<a href="{% url 'Arc' %}" class="nav-link">Characters Arc</a>
	        </li>
	    </ul>
	</div>
</div>
<div class="bg-secondary">
	<center>
	<img src="{% static 'images/kak.jpg'%}" width="1550" height="700">
	</center>
</div>
<div>

		<h3 class="text-info text-decoration-underline">1) Story Line Of Movie :-</h3>
<div class="p-2">
	<div class="p-1">
		<h5 class="text-info">Set in 1920s India before independence, “RRR” pairs two of the country’s biggest stars, N.T. Rama Rao Jr. (known as “Jr. NTR”)
			and Ram Charan, as superfriends from either side of a bloody colonial divide. A goofily gallant Jr. NTR plays Bheem, a warrior from the Gond tribe,
			while Charan smolders as Ram, a fearsome police officer who is underestimated by his white superiors. (The characters are inspired by two rebel heroes
			from the era, Komaram Bheem and Alluri Sitarama Raju.)

		</h5>
	</div>
</div>

<h3 class="text-primary text-decoration-underline">2) Actots Performance:-</h3>
<div class="p-2">
	<div class="p-1">
		<h5 class="text-warning">NTR, who is known as one of the best performers in Tollywood, has played Komaram Bheem in his usual manner in the first half of the film.
			A song and a couple of scenes give him a chance to exhibit his performance skills. But other than that, he gets a raw deal, purely because his character arc is weak, and written unevenly.
			Ram Charan’s Ramaraju role has many layers. He is shown as a man burning with fire and inner turmoil. Ram Charan’s role steals the show. In the entire second half, Ram Charan gets elevated.
			The getup of Alluri Sita Ramaraju in the final fight is a treat to his fans. Charan’s role is better written and he gets scenes that bring him under the spotlight.
			Alia Bhatt gets no scope. She is there for a few moments like a guest artiste. Ajay Devgn owns the flashback sequence and he's in with his screen presence.
			Olivia Morris plays a typical British Mem Sahib role. Alison Doody and Ray Stevenson appear in laughable roles. </h5>

	</div>

</div>
<h3 class="text-warning text-decoration-underline">3) Technical Aspects:- </h3>
<div class="p-2">
	<div class="p-1">
		<h5 class="text-success">Rajamouli’s trusted director of photography Senthil Kumar captures the frames in a larger-than-life manner and brings all his skills to film the frenetic action sequences.
			The production design is filled with opulence. Every bit of the film shows that crores of money have been spent. Dialogue writing is poor. Not even a single line is worth mentioning.
			MM Keeravani’s music adds effectively in couple of sequences. Among the songs, “Naatu Naatu” and “Komaram Bheemudo” have worked out well.
			Having tested RRR’s picture quality for several formats — normal, wide, Imax, 3D and Dolby cinema, Senthil says the experience has helped him up his technical skills.
			“I was among the first cinematographers early in my career to film in Super 35 format, use balloon lights and later the first to work on the Digital Intermediate for a complete film.

		</h5>

	</div>

</div>





</div>
<footer class="bg-dark">
</footer>

</body>
</html>
