{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Achieving Goals</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
<div class="navbar navbar-light bg-light navbar-expand-md">
	<a class="navbar-brand" href="">RRR</a>
	<button class="nabar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
		<span class="navbar-toggler-icon"></span>

	</button>
	<div class="navbar-collapse collapse" id="menu">
		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<a href="{% url 'test' %}" class="nav-link">Story Line Of Movie</a>
			</li>

			<li class="nav-item">
			<a href="{% url 'Goal' %}" class="nav-link">Achieving Goal</a>
	        </li>
	    </ul>
	</div>
</div>
</div>
<div>
	<center>
	<img src="{% static 'images/fight.jpg'%}" width="1000" height="500">
	</center>
	<h3 class="text-primary text-decoration-underline">Character Arc Of Characters :-</h3>
	<div class="p-2">
		<div class="p-1">
			<h2 class="text-success text-decoration-underline">1) Ramaraju :-</h2>
			<h4 class="text-success">
				The Change Of Behaviour Of Character Is Called Character Arc...
				in this movie has character arc because ram character has multilayred thats why ram has good character arc
				initially ramraju has 'ruthless cop' after that he had to friendship with bheem due to his his first meet
				with bheem,
				after that, he had to betrayed due to his Goal and wht he had give a promise to his father.then he has
				realised strength of bheem at end of the 'komurum bheemudo song' at last he has turned into freedom fighter
				thats he character arc of ramaraju...


			</h4>
			<h2 class="text-warning text-decoration-underline">2) Bheem :-</h2>
			<h4 class="text-primary">
				Bheem Character Also has multilayered like ramaraju.that character also has potryed diffrent kind of emotions due to
				diffrent scenes.inintially he has to confrontate with tiger at that scene he has to show his mercy & violence another
				he has to show his innocence with his sister at palace scene,in the interval scene he has to fight with ramaraju at that scene
				he has to show his all emotions like anger & innocence % violence...at the climax he has turned into freedom fighter


			</h4>







</div>

</div>

</div>

</body>
</html>
